{% load staticfiles %}
<!doctype html>
<html>
	<head>
		<meta charset=utf-8>
		<meta http-equiv=X-UA-Compatible content="IE=edge">
		<meta name=description content="A modern web metasearcher">
		<meta name=viewport content="width=device-width, initial-scale=1">
		<title>ZaexSearch</title>
		<meta name=mobile-web-app-capable content=yes>
		<link rel=icon sizes=192x192 href=images/touch/chrome-touch-icon-192x192.png>
		<meta name=apple-mobile-web-app-capable content=yes>
		<meta name=apple-mobile-web-app-status-bar-style content=black>
		<meta name=apple-mobile-web-app-title content="Web Starter Kit">
		<link rel=apple-touch-icon-precomposed href=apple-touch-icon-precomposed.png>
		<meta name=msapplication-TileImage content=images/touch/ms-touch-icon-144x144-precomposed.png>
		<meta name=msapplication-TileColor content=#3372DF>
		<link rel=stylesheet href="{% static 'main.css' %}">
	</head>

	<body>
		<header class="app-bar promote-layer">
			<div class=app-bar-container>
				<button class=menu>
					<img src=images/hamburger.svg alt=Menu>
				</button>
				<h1 class=logo><strong>Zaex</strong>Search</h1>
				<section class=app-bar-actions></section>
			</div>
		</header>
		<nav class="navdrawer-container promote-layer">
			<h4>Navigation</h4>
			<ul>
				<li>
					<a id="logoAppBar" href="{% url 'search:index' %}" onclick="event.preventDefault()"><strong>Zaex</strong> Search</a>
				</li>
				<li>
					<a id="searchMenu" href="">Search results</a>
				</li>
				<li>
					<a id="clickMenu" href="">Clicked links</a>
				</li>
				<li>
					<a id="savedMenu" href="">Search session</a>
				</li>
				<li>
					<a id="howToMenu" href="">How to use</a>
				</li>
			</ul>
		</nav>
		<main>
			<div class="search-bar">
				<form onSubmit="updateDiv('10')">
					<input type="text" name="search" class="searchform search-input" required value="{{query2}}">
					<input type="checkbox" name="filter" class="searchform" value="True">Filter results
					<input type="submit" action="" name="do" class="searchform" value="Search">
					<label id="messageDiv"></label>
				</form>
			</div>
			<div id="ResultsActions" class="g-medium--full g-wide--full">
				<div id="ResultsActions2" class="g-wide--full">
				    <form id="aditionAction" action="http://{{ serverName }}:{{ serverPort }}/relevance?search={{ query }}+&filter=false" onSubmit="updateDiv('10')">
					<strong>Improve your search:</strong>
				        <button class="action-button" type="submit" >Relevance feedback</button>
				        <button class="action-button" type="button" onclick="onDiversity('http://{{ serverName }}:{{ serverPort }}/diversity', '{{ query }}')" href=#>Diversity</button>
				        <input hidden type="text" name="search" value="{{ query }}">
				        <input hidden type="text" name="filter" value="false"/>
				    </form>
					<form id="filterSearcher">
											<strong>Show:</strong>
											<input class="filter-checkbox-alone" id="retrieve" name="filter" value="True" onclick="onRetrieve('http://{{ serverName }}:{{ serverPort }}/filter/save', '{{ query }}')" type="checkbox" checked>Saved results
											<input class="filter-checkbox" name="Faroo" value="True" type="checkbox" onclick="onRetrieve('http://{{ serverName }}:{{ serverPort }}/filter/save', '{{ query }}')" checked>Faroo
											<input class="filter-checkbox" name="Google" value="True" type="checkbox" onclick="onRetrieve('http://{{ serverName }}:{{ serverPort }}/filter/save', '{{ query }}')" checked>Google
											<input class="filter-checkbox" name="Carrot2" value="True" type="checkbox" onclick="onRetrieve('http://{{ serverName }}:{{ serverPort }}/filter/save', '{{ query }}')" checked>Carrot2
											<input class="filter-checkbox" name="Bing" value="True" type="checkbox" onclick="onRetrieve('http://{{ serverName }}:{{ serverPort }}/filter/save', '{{ query }}')" checked>Bing
										</form>
				</div>
				<div id="ResultsFilter" class="g--half g--last">
					
				</div>
			</div>
			<div id="SavedActions" class="g-medium--full g-wide--full hidden">
				<p>
					<strong>Session</strong>
				</p>
				<form id="open" target="#" onsubmit="event.preventDefault()">
					Name: <input type="text" name="name"> 
					<button type="button" onclick="onOpen('http://{{ serverName }}:{{ serverPort }}/metases/open')">Open session</button>
				</form>
				<form id="save" target="#" onsubmit="event.preventDefault()">
					Name: <input type="text" name="name">
					<button type="button" onclick="onSaveAndClose('http://{{ serverName }}:{{ serverPort }}/metases/save')">Save session</button>
					<br>
					<input class="filter-checkbox" type="checkbox" name="overwrite" value="True">
					Overwrite
                    <div id="errorSave" ></div>
				</form>
			</div>
			
			<div class="divmain">
				<div id="queryText" style="display:none;">{{ query }}</div>
				<div id="ResultsSearch" class="g-medium--full g-wide--full">
					<h3>Search results:</h3>

					<div id="ResSearch">
                        <div id="searchid" style="display:none;">{{ searchid }}</div>
						<ul class="searchList">
           					{% for lnk, sources in linkList %}
    						<li class="searchList">
								<a draggable="true" id="search{{ lnk.rank }}" class="searchResult" ondragstart="dragSave(event)" onclick="onResultClick('http://{{ serverName }}:{{ serverPort }}/clicked', '{{ lnk.url }}', '{{query}}', {{ lnk.rank }})" href="#">
									<div id="searchDiv{{ lnk.rank }}" draggable="true" ondragstart="dragSave(event)" class={% if lnk.saved %} {{ "searchButtonSaved" }} {%  else %} {{ "searchButton" }} {% endif %}>
										<p class="siteName">{{ lnk.title }}</p>
										<p class="siteURL">{{ lnk.url }}</p>
										<p class="siteDesc">{{ lnk.descr }}</p>
										<p hidden class="siteRank">{{ lnk.rank }}</p>
										<p hidden class="siteQuery">{{ query }}</p>
                                        {%  for source in sources %}
                                            {% if source == 4 %}
										        <img class="source-images" src="{% static 'search/images/carrot2.png'%}">
                                            {% elif source == 2 %}
										        <img class="source-images" src="{% static 'search/images/bing.png'%}">
                                            {%  elif source == 1 %}
										        <img class="source-images" src="{% static 'search/images/faroo.png'%}">
                                            {% else %}
										        <img class="source-images" src="{% static 'search/images/google.jpeg'%}">
                                            {% endif %}
                                        {% endfor %}

                                    </div>
								</a>
							</li>
                            {% endfor %}
						</ul>
					</div>
				</div>
				<div id=ResClicked class="g-medium--full g-wide--full hidden">
					<h3>Clicked results:</h3>
					<ul class=searchList>
                        {% for lnk in clickedList%}
						<li class=searchList>
							<a draggable="true" id="clicked{{ lnk.rank }}" class="searchResult" ondragstart="dragSave(event)" onclick="onResultClick('http://{{ serverName }}:{{ serverPort }}/clicked', '{{ lnk.url }}', '{{query}}', {{ lnk.rank }})" href="#">
								<div class="searchButton">
									<p class="siteName">{{ lnk.title }}</p>
									<p class="siteURL">{{ lnk.url }}</p>
									<p class="siteDesc">{{ lnk.descr }}</p>
								</div>
							</a>
						</li>
                        {% endfor %}
					</ul>
				</div>
				<div id=ResSaved class="g-medium--full g-wide--full hidden">
					<h3>Saved results:</h3>

					<ul class=searchList>
                    {% for lnk in savedList%}
						<li class=searchList>
							<a draggable="true" id="saved{{ lnk.query }}{{ lnk.rank }}" class="searchResult" ondragstart="dragDelete(event)" target="_blank" href="{{ lnk.url }}">
								<div id="savedDiv{{ lnk.rank }}" draggable="true" ondragstart="dragSave(event)"class="searchButton">
									<p class="siteName">{{ lnk.title }}</p>
									<p class="siteURL">{{ lnk.url }}</p>
									<p class="siteDesc">{{ lnk.descr }}</p>
									<p hidden class="siteRank">{{ lnk.rank }}</p>
									<p hidden class="siteQuery">{{ lnk.query }}</p>
								</div>
							</a>
						</li>
                    {% endfor %}
					</ul>
				</div>
				<div id="ResHowTo" class="g-medium--full g-wide--full hidden">
                   <h2>Search Results</h2>
                     <p>This panel shows the search results. When you click one of the results, a new tab will open showing you the document you selected.
                            The icons on each result represent the origin search engine:
                            <ul>
                                <li>Bing: <img class="source-images" src="{% static 'search/images/bing.png'%}"/></li>
                                <li>Google: <img class="source-images" src="{% static 'search/images/google.jpeg'%}"/></li>
                                <li>Faroo: <img class="source-images" src="{% static 'search/images/faroo.png'%}"/></li>
                                <li>Carrot2 (eTools Metasearcher) <img class="source-images" src="{% static 'search/images/carrot2.png'%}"/></li>
                            </ul>
                     </p>
                     <p>To make a new query, you can use the search bar on top of the page. In adition to this, ZaexSearch offers new posibilities for improving
                     your search. These posibilities can be accessed via the buttons on the left of the bar below the search form.
                         <ol>
                            <li><b>Relevance Feedback:</b> This feature adds a word to your query, based in the previous queries you have made.</li>
                            <li><b>Diversity:</b> This feature reorders the results, to prevent similar results from appearing near each other in the rank</li>
                         </ol>
                     </p>
                     <p>
                         Additionally, you can filter your results by using the checkboxes located on the right of the page, selecting the search engines.
                     </p>
		<h2>Clicked results</h2>
<p> This panels shows the search results that you have selected in this and other related queries. </p>
<h2> Search session </h2>
<p>You can save documents to read them later. For that, in the Search Results tab, you can drag the result you want to save to the save icon located in the bottom of the screen. Saved results will appear in green.</p>
<p>
Additionally, they will appear in the Search Session tab. In this tab, you can do the following actions:</p>
<ol>
	<li><strong>Delete results:</strong> To delete results, drag the result you want to delete to the trash icon located in the bottom of the screen</li>
	<li><strong>Save result list:</strong> You can save the results, and start a new list. To do that, you have to introduce a name for the session in the corresponding form. In case a problem has happened, it will be notified under the save form</li>
	<li><strong>Open result list:</strong> You can restore a previous list in case you have saved it on a computer with the same IP and the same browser. To do that, introduce the name in the corresponding form</li>
</ol>
				</div>
				</div>
				<div id="save-bar" class="bot-bar">
					<img draggable="false" class="save-bar" src="{% static 'search/images/saveBar.png' %}" ondragover="allowDropSave(event)" ondrop="dropSave(event, '{{ query }}')">
				</div>
				<div id="delete-bar" class="bot-bar hidden">
					<img draggable="false" class=save-bar src="{% static 'search/images/deleteBar.png' %}" ondragover="allowDropDelete(event)" ondrop="dropDelete(event, '{{ query }}')">
				</div>
			</main>

			<script src=https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js></script>
			<script src="{% static 'search/scripts/main.min.js' %}"></script>
            <script src="{% static 'search/scripts/scripts.js' %}"></script>

			<script>
		      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		      ga('create', 'UA-XXXXX-X', 'auto');
		      ga('send', 'pageview');
    		</script>
    	</body>
    </html>
